<nav class="navbar navbar-inverse navbar-fixed-top">
	<!-- display sm md lg -->
	<div class="container visible-sm-block visible-md-block visible-lg-block" >
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarshop" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand" >
				<span><a href="/" title="主页">最牛推荐</a></span>
				<span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
			</div>
		</div>
		<div class="collapse navbar-collapse " id="navbarshop">
			<ul class="nav navbar-nav">
				<li>
					<a href="/shop/index.html">电商大全</a>
				</li>
				<li>
					<a href="/wangke/index.html" style="font-weight:bold;color:red">热门网课</a>
				</li>
				<li>
					<a href="/product/index.html" >创意商品</a>
				</li>
				<li>
					<a href="/index.html">深度好文</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- display xs -->
	<div class="container visible-xs-block">
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcolumn" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand" >
				<span><a href="/shop" title="主页">最牛推荐</a></span>
				<span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
			</div>
		</div>
		<div class="collapse navbar-collapse " id="navbarcolumn">
			<ul class="nav navbar-nav">
				<li>
					<a href="/shop/index.html">电商大全</a>
				</li>
				<li>
					<a href="/wangke/index.html" style="font-weight:bold;color:red">热门网课</a>
				</li>
				<li>
					<a href="/product/index.html" >创意商品</a>
				</li>
				<li>
					<a href="/index.html">深度好文</a>
				</li>
				{% for tag in site.tags %}
					{% if tag[0] == "热门平台" %}
					<li><a href="#{{ tag[0] }}">{{ tag[0] }}</a></li>
					{% endif %}
				{% endfor %}
				{% for tag in site.tags %}
					{% if tag[0] != "热门平台" %}
					<li><a href="#{{ tag[0] }}">{{ tag[0] }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
