---
layout: index
title: 网络课程大全,网课排行榜
author:
keywords: 网络课程大全,网课排行榜,付费教育,付费课程,在线教育平台
description: 想知道在线教育平台有哪些？在线教育平台哪个好？都有哪些优质的网课值得去吗？这里有精心收录的网络课程，总有一个是适合你的。

---
{% for tag in site.tags %}
	{% if tag[0] == "热门平台" %}
	<div class="row column-title">
		<a id="{{ tag[0] }}" class="anchor"></a>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p>{{ tag[0] }}</p>
		</div>
	</div>
	<div class="row column-content">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="row">
				{% for post in tag[1] reversed %}
				<div class="col-xs-6 column-element-nav">
					<div class="row">
						<div class="col-xs-12 col-lg-12">
							<p>
							<a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
							</p>
						</div>
					</div>
					<div class="element-bottom">
						<a class="element-title" href="{{ site.baseurl }}{{ post.url }}">
							<p>平台介绍</p>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}

{% for tag in site.tags %}
	{% if tag[0] != "热门平台" %}
	<div class="row column-title">
		<a id="{{ tag[0] }}" class="anchor"></a>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p>{{ tag[0] }}</p>
		</div>
	</div>
	<div class="row column-content">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="row">
				{% for post in tag[1] reversed %}
				<div class="col-xs-6 column-element-nav">
					<div class="row">
						<div class="col-xs-12 col-lg-12">
							<p>
							<a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
