<nav class="hidden-xs navbar navbar-inverse navbar-fixed-top">
	<!-- display sm md lg -->
	<div class="container visible-sm-block visible-md-block visible-lg-block" >
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarshop" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand" >
				<span><a href="/" title="主页">最牛推荐</a></span>
				<span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
			</div>
		</div>
		<div class="collapse navbar-collapse " id="navbarshop">
			<ul class="nav navbar-nav">
				<li>
					<a href="/product/index.html" style="font-weight:bold;color:red">创意商品</a>
				</li>
				<li>
					<a href="/index.html" style="font-weight:bold;color:red" class="visible-lg-block">深度好文</a>
				</li>
				<li>
					<a href="/tags/互联网.html">互联网</a>
				</li>
				<li>
					<a href="/tags/技巧技术.html">技巧技术</a>
				</li>
				<li>
					<a href="/tags/勤读深思.html">勤读深思</a>
				</li>
				<li>
					<a href="/tags/纵横股海.html">纵横股海</a>
				</li>
				<li>
					<a href="/tags/人生经历.html">人生经历</a>
				</li>
				<li>
					<a href="/tags/各抒己见.html">各抒己见</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- display xs -->
	<div class="container visible-xs-block">
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcolumn" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand" >
				<span><a href="/shop" title="主页">最牛推荐</a></span>
				<span class="glyphicon glyphicon-hand-right" style="margin-left:15px"></span>
			</div>
		</div>
		<div class="collapse navbar-collapse " id="navbarcolumn">
			<ul class="nav navbar-nav">
				<li>
					<a href="/product/index.html" style="font-weight:bold;color:red">创意商品</a>
				</li>
				<li>
					<a href="/index.html" style="font-weight:bold;color:red">深度好文</a>
				</li>
				{% for tag in site.tags %}
					{% if tag[0] != "创意商品" %}
					<li><a href="#{{ tag[0] }}">{{ tag[0] }}</a></li>
					{% endif %}
				{% endfor %}
				<li><a href="#hwbh">海外百货</a></li>
				<li><a href="#lstd">零食、甜点</a></li>
				<li><a href="#ymmz">衣帽、美妆</a></li>
				<li><a href="#ylwh">娱乐、文化</a></li>
				<li><a href="#jfjj">家纺、居家</a></li>
				<li><a href="#qslp">轻奢、礼品</a></li>
				<li><a href="#jscy">酒水、茶叶</a></li>
				<li><a href="#lxcj">旅行、出境</a></li>
				<li><a href="#zszc">住宿、租车</a></li>
				<li><a href="#jdsc">家电、3C</a></li>
				<li><a href="#nzhw">男装、户外</a></li>
				<li><a href="#mylx">母婴、两性</a></li>
				<li><a href="#hwdyf">海外大药房</a></li>
				<li><a href="#yyyj">医药、眼镜</a></li>
				<li><a href="#cw">宠物</a></li>
				<li><a href="#fwxn">服务、虚拟</a></li>
				<li><a href="#bxlc">保险、理财</a></li>
				<li><a href="#dk">贷款</a></li>
			</ul>
		</div>
	</div>
</nav>
<nav class="visible-xs-block navbar navbar-inverse navbar-fixed-bottom">
	<!-- display sm md lg -->
	<div class="container visible-sm-block visible-md-block visible-lg-block" >
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarshop-2" aria-expanded="false" aria-controls="navbar" style="float:left">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand" >
				<span><a href="/" title="主页">最牛推荐</a></span>
			</div>
		</div>
		<div class="collapse navbar-collapse " id="navbarshop-2">
			<ul class="nav navbar-nav">
				<li>
					<a href="/product/index.html" style="font-weight:bold;color:red">创意商品</a>
				</li>
				<li>
					<a href="/index.html" style="font-weight:bold;color:red" class="visible-lg-block">深度好文</a>
				</li>
				<li>
					<a href="/tags/互联网.html">互联网</a>
				</li>
				<li>
					<a href="/tags/技巧技术.html">技巧技术</a>
				</li>
				<li>
					<a href="/tags/勤读深思.html">勤读深思</a>
				</li>
				<li>
					<a href="/tags/纵横股海.html">纵横股海</a>
				</li>
				<li>
					<a href="/tags/人生经历.html">人生经历</a>
				</li>
				<li>
					<a href="/tags/各抒己见.html">各抒己见</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- display xs -->
	<div class="container visible-xs-block">
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcolumn-2" aria-expanded="false" aria-controls="navbar" style="float:left">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand" >
				<span><a href="/shop" title="主页">最牛推荐</a></span>
			</div>
		</div>
		<div class="collapse navbar-collapse " id="navbarcolumn-2">
			<ul class="nav navbar-nav">
				<li>
					<a href="/product/index.html" style="font-weight:bold;color:red">创意商品</a>
				</li>
				<li>
					<a href="/index.html" style="font-weight:bold;color:red">深度好文</a>
				</li>
				{% for tag in site.tags %}
					{% if tag[0] != "创意商品" %}
					<li><a href="#{{ tag[0] }}">{{ tag[0] }}</a></li>
					{% endif %}
				{% endfor %}
				<li><a href="#hwbh">海外百货</a></li>
				<li><a href="#lstd">零食、甜点</a></li>
				<li><a href="#ymmz">衣帽、美妆</a></li>
				<li><a href="#ylwh">娱乐、文化</a></li>
				<li><a href="#jfjj">家纺、居家</a></li>
				<li><a href="#qslp">轻奢、礼品</a></li>
				<li><a href="#jscy">酒水、茶叶</a></li>
				<li><a href="#lxcj">旅行、出境</a></li>
				<li><a href="#zszc">住宿、租车</a></li>
				<li><a href="#jdsc">家电、3C</a></li>
				<li><a href="#nzhw">男装、户外</a></li>
				<li><a href="#mylx">母婴、两性</a></li>
				<li><a href="#hwdyf">海外大药房</a></li>
				<li><a href="#yyyj">医药、眼镜</a></li>
				<li><a href="#cw">宠物</a></li>
				<li><a href="#fwxn">服务、虚拟</a></li>
				<li><a href="#bxlc">保险、理财</a></li>
				<li><a href="#dk">贷款</a></li>
			</ul>
		</div>
	</div>
</nav>
